[submodule "SentiAPI"]
	path = SentiAPI
	url = https://github.com/earro017/SentiAPI.git
	branch = master
[submodule "SentiAnalyzer"]
	path = SentiAnalyzer
	url = https://github.com/earro017/SentiAnalyzer.git
	branch = master
[submodule "SentiWeb"]
	path = SentiWeb
	url = https://github.com/earro017/SentiWeb.git
